---
import "@/Nuestros Serivicios/styles/sections/NuestroServicios/NuestroServicios.css";
---

<section class="sect-nues">
  <div class="info-nuestros-serv">
    <h1>Nuestros <br /> servicios</h1>
    <p>
      Diagnosticamos, prevenimos y diseñamos soluciones de mantenimiento
      industrial, tanto preventivo como correctivo para cualquier sector
      industrial.
    </p>
  </div>

  <div class="img-nuestos-ser">
    <img class="img-1" src="/assets/images/soldadura-services.svg" alt="" />
    <img class="img-2" src="/assets/images/ventiladores-services.svg" alt="" />
  </div>
</section>
