---
import "@/Nuestros Serivicios/styles/sections/Somos/Somos.css";
---

<section class="sect-somos" id="somos-imys">
  <img
    src="/assets/images/full-shot-smiley-people-wearing-helmets.avif"
    alt=""
  />

  <div class="info-somos">
    <span>Somos</span>
    <img src="/logo-header.png" alt="" />
    <p>
      Estamos comprometidos con nuestros clientes ofreciendo servicios y
      materiales de alta calidad a precios competitivos.
    </p>

    <p>
      Nos expecializamos en ingenieria, mantenimiento y servicios, asegurando la
      mazima satisfaccion a travez de nuestra garantia de calidad.
    </p>

    <p>
      Confia en nosotros para tus necesidades tecnicas experimenta el compromiso
      y profesionalismo que nos distingue.
    </p>
  </div>
</section>
