---
import heroData from "@/assets/data/sections/Hero/heroData";
import type { HeroDataInfo } from "@/assets/ts/HeroDataInfo";
import "@/assets/styles/sections/Hero/hero.css";

const hero: HeroDataInfo[] = heroData;
---

<section class="section-hero">
  <div class="cc"></div>
  <article class="article-hero">
    <h1>Vive Fresco, <br /> gasta menos</h1>
    <span class="text-balance"
      >Compra ahora tu minisplit, entrega inmediata e instalación el mismo día</span
    >
    <aside class="aside-contact-hero">
      <a
        href="https://api.whatsapp.com/send?phone=%2B5218331935879&context=ARB2oy3orZLHpLmMZ59T0gyY3oTa0IRaK1tvbcxYxTa7JqKUfKg4bSBqSa1xiRkw090mhsrrdLDmuil6xlXc5juFvQE9kPrizKHPOaeHJ-H1oqI7HP4GTopK8muH2hJtVRWZLt6QeLMJKecgHGwzNVQwdg&source=FB_Page&app=facebook&entry_point=page_cta"
        target="_blank"
        >833 400 4047
      </a>
      <a
        href="https://api.whatsapp.com/send?phone=%2B5218331935879&context=ARB2oy3orZLHpLmMZ59T0gyY3oTa0IRaK1tvbcxYxTa7JqKUfKg4bSBqSa1xiRkw090mhsrrdLDmuil6xlXc5juFvQE9kPrizKHPOaeHJ-H1oqI7HP4GTopK8muH2hJtVRWZLt6QeLMJKecgHGwzNVQwdg&source=FB_Page&app=facebook&entry_point=page_cta"
        target="_blank"
        >833 193 5879
      </a>
    </aside>
  </article>
  <img class="img" src="/assets/images/background-hero.png" alt="" />
</section>
