---
import "@/assets/styles/sections/Locate/Locate.css";
---

<section class="section-locate">

<article class="article-map">
  
  <div class="info">

    <h1>Entrega a domicilio</h1>

   <div class="ubicacion">
    <h5>Mapa de zona urbana</h5>
    <p>Tampico, Madero, Altamira</p>
   </div>
  </div>

</article>

</section>
