<section
  id="locate-us"
  class="bg-cover bg-center py-16"
  style="background-image: url('/mapa.png');"
>
  <div class="container mx-auto opacity-75">
    <h1
      style="font-size:4.31rem;"
      class="font-bold text-center md:text-left text-black mb-8"
    >
      Entrega a domicilio
    </h1>
  </div>
  <div class="container mx-auto opacity-75">
    <h2
      style="font-size:1.873rem;"
      class="font-bold text-center md:text-left text-black mb-2"
    >
      Mapa de zona conurbada
    </h2>
    <p style="font-size:25px;" class="text-center md:text-left text-black mb-8">
      Tampico, Madero y Altamira
    </p>
    <!-- Aquí puedes agregar más contenido si lo deseas -->
  </div>
</section>
